header {
  background-color: #d17151;
  display: flex;
  justify-content: space-between;
}
.logocat {
  height: 50px;
  margin-left: 10px;
}

body {
  background: rgb(244, 150, 141);
}

.page-body {
  /* text-align: center; */
  /* margin: 3rem; */
  min-height: calc(100vh - 34px);
}

/* ---FOOTER--- */
footer {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #b17843;
  text-align: center;
}
a {
  color: #e2d3db !important;
  text-decoration: none !important;
  margin: auto;
}
a:hover {
  cursor: pointer !important;
  color: #2c2f70 !important;
  text-decoration: underline !important;
}

/* ---FORMS--- */
form {
  margin-left: 40%;
  margin-right: 40%;
}
input {
  text-align: center;
}

/* ---HEADER--- */
.header {
  background-color: #7e5a24;
  display: flex;
  justify-content: space-between;
}
.cat-logo {
  width: 250px;
  margin-left: 20px;
}

/* ---HOME--- */
.raisins {
  height: 500px;
  border-radius: 50%;
  border: 3px solid black;
}

/* ---INDEX--- */
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

 
.btn.btn-secondary {
  background-color: #5a5156;
  font-weight: bolder;
}
.btn.btn-secondary:hover {
  color: #ba6c5b;
  background-color: white;
}

/* ---NOT FOUND--- */
.cat-friend {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

/* ---SHOW--- */
.card-show.card.card-body {
  margin: 0 auto;
}

.cat-card {
  background-color: aquamarine;
  margin-bottom: 10px;
}

.cat-image {
  width: 300px;
  height: 250px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid green;
  padding: 10px;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.nav-item {
  margin: 0 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
