header {
  background: url("https://64.media.tumblr.com/8adc1d459d6ba71aa0b316dabee88190/697791ea1ead39aa-c3/s500x750/9c3a457c27c5dadf4ef63f3d78e3736a49bbe4f2.gif") no-repeat; 
  background-size: cover;
  /* background-color: #d17151;*/
  display: flex;
  justify-content: space-between; 
}
.logocat {
  height: 50px;
  margin-left: 10px;
}

body {
  background: url("https://64.media.tumblr.com/8adc1d459d6ba71aa0b316dabee88190/697791ea1ead39aa-c3/s500x750/9c3a457c27c5dadf4ef63f3d78e3736a49bbe4f2.gif") no-repeat; 
  background-size: cover;
}

.page-body {
  /* text-align: center; */
  /* margin: 3rem; */
  min-height: calc(100vh - 34px);
}

/* ---FOOTER--- */
footer {
  background: url("https://64.media.tumblr.com/8adc1d459d6ba71aa0b316dabee88190/697791ea1ead39aa-c3/s500x750/9c3a457c27c5dadf4ef63f3d78e3736a49bbe4f2.gif") no-repeat; 
  background-size: cover;
  font-size: 20px;
  position: absolute;
  bottom: -70px;
  width: 100%;
  /*background-color: #b17843;*/
  text-align: center; 
}
a {
  color: #e2d3db !important;
  text-decoration: none !important;
  margin: auto;
}
a:hover {
  cursor: pointer !important;
  color: #2c2f70 !important;
  text-decoration: underline !important;
}

/* ---FORMS--- */
form {
  margin-left: 40%;
  margin-right: 40%;
}
input {
  text-align: center;
}

/* ---HEADER--- */
.header {
  background: url("https://64.media.tumblr.com/8adc1d459d6ba71aa0b316dabee88190/697791ea1ead39aa-c3/s500x750/9c3a457c27c5dadf4ef63f3d78e3736a49bbe4f2.gif") no-repeat; 
  background-size: cover;
  /* background-color: rgb(228, 76, 16); */
  background-size: cover;
  display: flex;
  justify-content: space-between; 
}
.cat-logo {
  width: 250px;
  margin-left: 20px;
}

/* ---HOME--- */
.raisins {
  height: 500px;
  border-radius: 50%;
  border: 3px solid black;
}

/* ---INDEX--- */
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

 
.btn.btn-secondary {
  background-color: #5a5156;
  font-weight: bolder;
}
.btn.btn-secondary:hover {
  color: #ba6c5b;
  background-color: white;
}

/* ---NOT FOUND--- */
.cat-friend {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

/* ---SHOW--- */
.card-show.card.card-body {
  margin: 0 auto;
}

.cat-card {
  background-color: rgba(93, 149, 173, 0.981);
  margin-bottom: 10px;
  padding: 5px;
}

.cat-image {
  width: 300px;
  height: 250px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid green;
  padding: 10px;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.nav-item {
  margin: 0 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cat-detail-body {
  padding: 5px;
  background-color: rgba(93, 149, 173, 0.981);
  font-weight: 600;
}