header {
  background-color: #c34011;
  display: flex;
  justify-content: space-between;
}
.logoCat {
  width: 150px;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}